# SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.md]
# Hard line break
trim_trailing_whitespace = false

# Adheres to the Zig Style Guide
# https://ziglang.org/documentation/0.11.0/#Style-Guide
[*.zig]
indent_style = space
indent_size = 4
