# SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

# What: Obsidian Vault metadata directory
#  Why: This directory contains personal preferences such as whether to enable Vim mode,
#       which should not be forced to whom editing the document.
#       While this could be considered as an environment specific artifacts like `.DS_Store`
#       or `*.swp`, I decided to add this because this project is for Obsidian and `docs/`
#       directory is supposed to be edited using Obsidian.
docs/.obsidian

# What: Temporary directory for testing actual file writer
#  Why: Although test cleans up the temporary directory, there could be a chance the
#       cleanup code does not work and the directory (accidentally) remains.
#       This prevents VCS picking up the directory in that case.
filesystem_writer/.test

# What: Docs website build output directory
#  Why: This directory contains build artifacts, not source code.
docs/.dist
